* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.meter {
    --power: 0.30;
    --target: 0.60;
    --height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;

    &::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 4px;
        bottom: 4px;
        right: 4px;
        box-shadow: inset 2px 2px rgb(255 255 255 / 25%), inset -2px -2px rgb(0 0 0 / 25%);
    }
}

.meter__inner {
    aspect-ratio: 60 / 200;
    height: var(--height);
    background-color: #666;
    background-image: linear-gradient(to top,
            hsl(330, 100%, 82%) 0%,
            hsl(330, 100%, 71%) calc(var(--height) * var(--power)),
            transparent calc(var(--height) * var(--power)));
    position: relative;
    border: 4px solid;
    border-radius: 4px;
}

.target {
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 0;
    transform: translateY(calc(var(--height) * var(--target) * -1));
    height: 6px;
    background-color: gold;
    z-index: 2;
}
